a, a:hover, a:focus {
  color: inherit !important;
  text-decoration: none !important; }

#tooltip-right {
  opacity: 0; }

.btn {
  display: block; }

.btn:hover {
  cursor: pointer !important; }

.btn-primary {
  color: #9699a2;
  display: inline;
  font-size: 1.25rem;
  outline: none !important;
  height: 2.75rem;
  padding: .5rem 1.25rem;
  margin: 0px;
  font-size: 1rem;
  background: #f4f5f8;
  border: 0;
  text-shadow: none !important; }

.btn-primary:hover {
  border: 0;
  background: #e2e5ec;
  cursor: pointer; }

.btn-yellow {
  background-color: #FBA502 !important;
  border-color: #B77B01 !important;
  color: #fff; }

.btn-yellow:hover {
  background-color: #B77B01 !important; }

.btn-secondary {
  background-color: #3960AE !important;
  border-color: #1244A7 !important;
  color: #fff !important;
  font-weight: 300 !important;
  font-size: 13px; }

.row {
  margin: 0 !important; }

.check-box {
  background-color: #e2e5ec;
  border: 1px solid transparent !important; }

.check-box::after {
  border-color: #716aca; }

.nav-link-active {
  border-radius: 20px;
  font-size: 11.05px;
  color: #fff;
  background-color: #716aca; }

.panel {
  box-shadow: 0 1px 22px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
  padding: 0 !important;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  min-width: 380px;
  margin: 10px; }

.panel-body {
  padding: 20px;
  overflow: auto !important; }

.panel-heading {
  padding: 15px 0 7px 0;
  text-align: center;
  border-bottom: 1px solid #c9c9c9;
  border-top: 1px #c9c9c9 outset;
  background: #EBEBFF;
  color: #444;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.btn-secondary:hover {
  background-color: #04355b !important; }

.btn-default {
  background-color: #f4f5f8 !important; }

.btn-default:hover {
  background-color: #ebebeb !important; }

.btn-success {
  background-color: #716aca !important;
  border-color: #625CB0 !important;
  color: #fff !important;
  font-weight: 300 !important;
  font-size: 13px; }

.btn-success:hover {
  background-color: #625CB0 !important; }

.btn-warning {
  background-color: #06245F !important;
  border-color: #041161 !important;
  color: #fff !important;
  font-weight: 300 !important;
  font-size: 13px; }

.btn-warning:hover {
  background-color: #041161 !important; }

.home-container {
  height: 100%; }

.wrapper {
  height: 100%; }

.home-content {
  pointer-events: auto;
  padding: 100px 20px 0 20px;
  height: 100%; }

.home-content-header {
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  margin-bottom: 20px; }

.home-content-min {
  margin-left: 75px;
  width: calc(100% - 75px); }

.home-content-max {
  margin-right: 200px;
  width: calc(100% - 200px); }

.pages-container {
  width: 100%; }

.small-link {
  text-align: center;
  color: #bbbbbb; }

.small-link:hover {
  color: #3960AE; }

.invalid {
  border: 1px solid red; }

.error {
  color: red;
  font-weight: 400; }

.disabled-invite-container {
  width: 100%;
  height: 100%;
  background-color: #010527; }
  .disabled-invite-container .disabled-invite-content {
    background-color: #ebebeb;
    border-radius: 6px;
    width: 600px;
    top: 30%;
    transform: translate(50%);
    position: absolute;
    padding: 50px;
    text-align: center;
    pointer-events: auto; }
    .disabled-invite-container .disabled-invite-content .disabled-invite-btn {
      margin: 0 auto;
      margin-top: 20px; }

.swal-custom-padding {
  padding-bottom: 30px !important; }

.input-select {
  background-color: #fff;
  border: 1px solid #716aca;
  width: auto;
  color: #333;
  border-radius: 20px;
  font-size: 13px; }

.input-select:hover {
  background-color: #716aca;
  cursor: pointer; }

.drop-down-button {
  position: relative;
  float: right;
  width: 10px;
  cursor: pointer; }
  .drop-down-button .drop-down-container {
    border-radius: 6px;
    height: auto;
    top: 20px;
    user-select: none;
    width: 0;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    transition: transform 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    position: absolute;
    z-index: 2100;
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: left top 0;
    max-height: 933px;
    overflow-y: auto; }
    .drop-down-button .drop-down-container .drop-down-icon {
      font-size: 15px !important; }
    .drop-down-button .drop-down-container .drop-down-item {
      display: flex;
      font-weight: 200;
      margin-left: 0;
      position: relative;
      width: 100%;
      padding: 0 16px 0 24px;
      font-size: 15px; }
      .drop-down-button .drop-down-container .drop-down-item .drop-down-item-icon {
        padding: 12px 0 12px 0;
        font-size: 20px; }
      .drop-down-button .drop-down-container .drop-down-item .drop-down-item-name {
        width: 100%;
        margin-left: 20px;
        padding: 10px; }
    .drop-down-button .drop-down-container .drop-down-item:hover {
      background-color: #ebebeb; }

.date-range {
  width: 110px;
  height: 25px; }

.react-datepicker__current-month {
  color: #fff !important;
  font-weight: 400 !important; }

.react-datepicker__day-name {
  color: #fff !important;
  font-weight: 400 !important; }

.react-datepicker__header {
  background-color: #3960AE !important;
  padding-top: 13px; }

.react-datepicker__month {
  margin: 0 !important; }

.react-datepicker__day {
  border: 1px solid #EBEBEF !important;
  margin: 0 !important;
  padding: 13px;
  width: 55px;
  color: #000 !important; }

.react-datepicker__day--selected {
  background-color: #716aca !important;
  border-radius: 0 !important; }

.react-datepicker__day--keyboard-selected {
  background-color: #716aca !important;
  border-radius: 0 !important; }

.react-datepicker__day--today {
  background-color: #FBA502 !important; }

.react-datepicker__day:hover {
  background-color: #716aca !important;
  border-radius: 0 !important; }

.time_picker_modal_container {
  position: absolute !important;
  top: -461px !important; }

.time_picker_container {
  width: 300px !important; }

.classic_theme_container {
  position: absolute;
  top: -300px; }

.time_picker_preview {
  width: 300px !important; }

.classic_time:hover, .light:hover {
  background: #3960AE !important; }

.middle-align {
  vertical-align: middle !important; }

.grommet {
  pointer-events: all !important;
  z-index: 2000000 !important; }

.grommetux-select__control {
  width: 25px !important; }

.grommetux-select__control svg {
  background-color: transparent !important; }

.grommetux-control-icon {
  width: 13px !important; }

.grommetux-button__icon:focus {
  border: none !important;
  outline: none !important; }

.grommetux-button__icon, polygon {
  stroke: #716aca !important; }

.grommetux-select__input {
  padding-right: 0px !important;
  font-size: 12px !important;
  color: #716aca !important; }

.grommetux-select__input:hover {
  border: 1px solid #716aca !important; }

.grommetux-color-index-graph-2 {
  stroke: #00c5dc !important; }

.grommetux-color-index-graph-1 {
  stroke: #f4516c !important; }

.grommetux-box {
  align-items: center !important; }

.grommetux-drop {
  z-index: 300000 !important; }

.user-profile-container .save-profile-button {
  width: 150px; }

.user-profile-container .user-profile-picture {
  height: 200px;
  margin-bottom: 8px; }

.user-profile-container .upload-picture-container {
  height: 38px;
  background-color: #06245F;
  width: 150px;
  position: relative; }
  .user-profile-container .upload-picture-container .upload-profile-picture {
    width: 150px;
    opacity: 0;
    height: 38px;
    position: absolute;
    top: 0;
    left: 0; }
