$primaryColor: #232C52;
$secondaryColor: #6178DE;
$successColor: #4FF7B4;
$warningColor: #5525C2;
$darkColor: #151A32;

@import './sidebar.scss';
@import './header.scss';
@import './login.scss';
@import './loader.scss';