#employer-contractors{

  pointer-events: auto;

   .add-contractor-btn{
     float:right;
     margin-top: 10px;
   }

  .add-contractor-modal-info{
    margin:10px;
    display: flex;
    justify-content:center;
  }


}