#employer-contractors{

  pointer-events: auto;

   .add-contractor-btn{
     float:right;
     margin-top: 10px;
   }

  .contractor-list-item:hover {
    background-color: #f0f0f0;
  }

  .selected-user-row{
    background-color: #f4f4f4;
  }

  .selected-user{
    color:#57eaaf;
  }

  .delete-contractor-btn{
    float:right;
    margin-top: 10px;
    margin-left:10px;
  }

  .add-contractor-modal-info{
    margin:10px;
    display: flex;
    justify-content:center;
  }

}

.work-logs-container{
  text-align: center;
  margin: 10px;
  padding: 0;
  height: 100%;
}

.uploadDataBtn{
  float:left;
  margin:-5px 8px -50px;
}

.backBtn{
  float:left;
  margin: 10px -50px 0 10px;
}

.contractor-details{
  margin-top: 25px;
}

.work-data-header {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
}

.add-work-data-btn{
  float:right;
}