#employer-contractors {
  pointer-events: auto; }
  #employer-contractors .add-contractor-btn {
    float: right;
    margin-top: 10px; }
  #employer-contractors .contractor-list-item:hover {
    background-color: #f0f0f0; }
  #employer-contractors .selected-user-row {
    background-color: #f4f4f4; }
  #employer-contractors .selected-user {
    color: #57eaaf; }
  #employer-contractors .delete-contractor-btn {
    float: right;
    margin-top: 10px;
    margin-left: 10px; }
  #employer-contractors .add-contractor-modal-info {
    margin: 10px;
    display: flex;
    justify-content: center; }

.work-logs-container {
  text-align: center;
  margin: 10px;
  padding: 0;
  height: 100%; }

.uploadDataBtn {
  float: left;
  margin: -5px 8px -50px; }

.backBtn {
  float: left;
  margin: 10px -50px 0 10px; }

.contractor-details {
  margin-top: 25px; }

.work-data-header {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px; }

.add-work-data-btn {
  float: right; }
