a, a:hover {
  color: inherit;
  text-decoration: none; }

.btn {
  display: block; }

.btn:hover {
  cursor: pointer !important; }

.btn-primary {
  background-color: #5525C2 !important;
  border-color: #151A32 !important; }

.btn-primary:hover {
  background-color: #151A32 !important; }

.btn-secondary {
  background-color: #6178DE !important;
  border-color: #5564be !important;
  color: #fff; }

.btn-secondary:hover {
  background-color: #5564BE !important; }

.home-container {
  height: 100%;
  position: absolute;
  width: 100%; }

.home-content {
  margin-left: 250px;
  margin-top: 75px;
  padding: 20px; }

.home-content-header {
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  margin-bottom: 20px; }

.home-content-min {
  margin-left: 75px;
  width: calc(100% - 75px); }

.home-content-max {
  margin-right: 250px;
  width: calc(100% - 250px); }

.pages-container {
  height: 100%;
  width: 100%; }

.small-link {
  text-align: center;
  color: #bbbbbb; }

.small-link:hover {
  color: #6178DE; }

.error {
  color: red;
  font-weight: 400; }

.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(159, 159, 159, 0.6); }
  .loaderContainer .loader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); }

@keyframes lds-flickr-opacity {
  0% {
    -webkit-transform: translate(0 0);
    transform: translate(0 0);
    opacity: 1; }
  49.99% {
    opacity: 1;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0); }
  50% {
    opacity: 0;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes lds-flickr-opacity {
  0% {
    -webkit-transform: translate(0 0);
    transform: translate(0 0);
    opacity: 1; }
  49.99% {
    opacity: 1;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0); }
  50% {
    opacity: 0;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes lds-flickr {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes lds-flickr {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
  .loaderContainer .lds-flickr {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%); }
  .loaderContainer .lds-flickr div {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 60px;
    left: 20px; }
  .loaderContainer .lds-flickr div:nth-child(1) {
    background: #232C52;
    -webkit-animation: lds-flickr 1s linear infinite;
    animation: lds-flickr 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
  .loaderContainer .lds-flickr div:nth-child(2) {
    background: #6178DE;
    -webkit-animation: lds-flickr 1s linear infinite;
    animation: lds-flickr 1s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .loaderContainer .lds-flickr div:nth-child(3) {
    background: #232C52;
    -webkit-animation: lds-flickr-opacity 1s linear infinite;
    animation: lds-flickr-opacity 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
  .loaderContainer .lds-flickr {
    width: 200px !important;
    height: 200px !important; }
