@import './mainStyles.scss';

.login-page-container{
  pointer-events: auto;
  height:100%;
  width:100%;
  background-color: $primaryColor;
  display: flex;
  justify-content: center;

  .login-form-container{
    width: 350px;
    position: absolute;
    top: 200px;
  }

  .invalid{
    border:1px solid red;
  }

  .email-input{
    margin-top:15px;
    margin-bottom:15px;
  }

  .password-input{
    margin-top:15px;
    margin-bottom:15px;
  }

  .login-button{

  }

  .login-header-container{
    text-align: center;

    .login-header{
      color:#fff;
      border-bottom:1px solid #fff;
      padding:20px;
    }
  }

  .loginErrorMsg{
    color: #ff3333;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
  }

}