@import 'mainStyles.scss';

.sidebar{
  pointer-events: auto;
  background-color: $primaryColor;
  width: 250px;
  height: 100%;
  min-height: 100%;
  top:-75px;

  .side-nav-container{
    position: absolute;
    top:110px;
    width:250px;

    .side-nav-item{
      padding-top:20px;
      padding-bottom:20px;
      color:#fff;
      padding-left:30px;
      margin-bottom: 0;

      .side-nav-name{
        margin-left: 15px;
      }

      .side-nav-hide{
        display: none;
      }

      .side-nav-show{
        display: inline;
      }

    }

    @keyframes side-nav-item-hover{
      from{
        fill-opacity: 0;
      }
      to{
        background: #3a3a74;
        fill-opacity: 1;
      }
    }

    .side-nav-item:hover{
      animation-name: side-nav-item-hover;
      animation-duration: 0.3s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      cursor:pointer;

    }

    .selected-side-nav-item{
      background-color:$secondaryColor;
    }

  }

}

.side-nav-min{
  width:75px !important;
}

.home-content-max{
  margin-left:250px;
}

.home-content-min{
  margin-left:75px;
}

.sidebar-max{
  width:250px !important;
}

.sidebar-min{
  width:75px !important;
}


@media (max-width: 550px){

  .sidebar{
    width:75px !important;
  }

  .side-nav-item{
    width:75px !important;
  }

  .home-content{
    margin-left:75px !important;
  }

  .side-nav-name{
    display:none;
  }

}