.user-profile-container{



  .save-profile-button{
    width:150px;
  }

  .user-profile-picture{
    height:200px;
    margin-bottom: 8px;
  }

  .upload-picture-container{
    height:38px;
    background-color: #6178DE;
    width:150px;
    position: relative;

    .upload-profile-picture{
      width:150px;
      opacity: 0;
      height:38px;
      position: absolute;
      top:0;
      left:0;

    }

  }

}